body {
    font-family: 'Segoe UI', Times New Roman, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header, h1,h2,h3 {
    text-align: center;
    background-color:#ccccff;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.content {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form {
    display:block ;
    gap:10px;
   
}

label {
   display: block;
    margin-bottom: 5px;
    color: #555;
    
}

input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
   
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color:#00ff66;
}
input [type="checkbox"]{
    outline: 3px solid black;
    size:8px;
}

table {
    grid-auto-columns:10px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

 th,  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

 th {
    background-color: #333;
    color: #fff;
}

.data-table tr:hover {
    background-color: #f5f5f5;
}